body{
  background-color: #E5E5E5;
}

main{
   display: flex;
   margin-left: 80px;
   margin-bottom: 50px;
}

.caja-texto{
    margin-top: 90px;
}

.mensaje{
  position: relative;
 
  margin-top: 20px;
  margin-left: 90px;
  
  background-image: url("img/munheco.png");
  background-repeat: no-repeat;
  background-position: 18px;
  height: 350px;
  width: 350px;
  
}

.caja-botones{
 margin: 0 auto;
 display: flex;
 width:95%;
}

.btn-encriptar{
  background-color: orange;
  color: white;
  padding: 10px;
  width: 40%;
}

.btn-desencriptar{
  width: 40%;
  margin-left: 5px;
  
}
.btn-copiar{
  position: relative;
  margin-top: 20px;
  margin-left: 205px;
}
.informacion{
  font-size: 15px;
}